@{
    ViewBag.Title = "Home Page";
}

<div class="home">
    <div class="container-fluid p-0">
        <div class="slick-carousel">
            <div>
                <img src="~/Asset/image/carousel/banner-sn3web-1571294680--acbihpps-1592386128--hipspcba-1622453987.jpg" />
            </div>
            <div>
                <img src="~/Asset/image/carousel/coverwebcrep-1554432453i-1622454041-1623428656.png" />
            </div>
        </div>
    </div>
    <div class="features">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-4">
                    <div class="ps-iconbox ps-iconbox--inverse">
                        <div class="ps-iconbox__header">
                            <span class="icon-box-icon icon-shipping">
                                <i class="fa-solid fa-money-check"></i>
                            </span>
                            <h3>CAM KẾT CHÍNH HÃNG</h3>
                            <p>100 % Authentic</p>
                        </div>
                        <div class="ps-iconbox__content">
                            <p>Cam kết sản phẩm chính hãng từ Châu Âu, Châu Mỹ...</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-4">
                    <div class="ps-iconbox ps-iconbox--inverse">
                        <div class="ps-iconbox__header">
                            <span class="icon-box-icon icon-shipping">
                                <i class="fa-solid fa-truck-fast"></i>
                            </span>
                            <h3>GIAO HÀNG HỎA TỐC</h3>
                            <p>Express delivery</p>
                        </div>
                        <div class="ps-iconbox__content">
                            <p>SHIP hỏa tốc 1h nhận hàng trong nội thành HCM</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-4">
                    <div class="ps-iconbox ps-iconbox--inverse">
                        <div class="ps-iconbox__header">
                            <span class="icon-box-icon icon-shipping">
                                <i class="fa-solid fa-phone"></i>
                            </span>
                            <h3>HỖ TRỢ 24/24</h3>
                            <p>Supporting 24/24</p>
                        </div>
                        <div class="ps-iconbox__content">
                            <p>Gọi ngay <a href="tel:0909300746">0909300746</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product pt-40 pb-40">
        <div class="container">
            <div class="ps-section__header mb-50 clearfix">
                <h3 class="ps-section__title" data-mask="Product"><a href="san-pham">- Sản phẩm mới</a></h3>
            </div>
        </div>
        <div class="container">
            <div class="ps-products" data-mh="product-listing">
                <div class="ps-product__columns">
                    <div class="ps-product__column">
                        <div class="ps-shoe mb-30">
                            <div class="ps-shoe__thumbnail">
                                <div class="product-label-group">
                                    <div class="product-label"><span>New</span></div>
                                </div>
                                <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                                <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                            </div>
                            <div class="ps-shoe__content">
                                <div class="ps-shoe__detail">
                                    <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                    <div class="br-wrapper br-theme-fontawesome-stars">
                                        <select class="ps-rating ps-shoe__rating d-none">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5" selected="">5</option>
                                        </select>
                                        <div class="br-widget br-readonly">
                                            <a href="#"
                                               data-rating-value="1"
                                               data-rating-text="1"
                                               class="br-selected"></a>
                                            <a href="#"
                                               data-rating-value="2"
                                               data-rating-text="2"
                                               class="br-selected"></a>
                                            <a href="#"
                                               data-rating-value="3"
                                               data-rating-text="3"
                                               class="br-selected"></a>
                                            <a href="#"
                                               data-rating-value="4"
                                               data-rating-text="4"
                                               class="br-selected">
                                            </a>
                                            <a href="#"
                                               data-rating-value="5"
                                               data-rating-text="5"
                                               class="br-selected br-current">
                                            </a>
                                            @*<div class="br-current-rating">5</div>*@
                                        </div>
                                    </div>
                                    <span class="ps-shoe__price">
                                        1,800,000 đ
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="ps-pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item active">
                        <a class="page-link" rel="noindex, nofollow" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" rel="noindex, nofollow" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" rel="noindex, nofollow" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" rel="noindex, nofollow" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" rel="noindex, nofollow" href="#">&gt;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" rel="noindex, nofollow" href="#">&gt;&gt;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="product p-40">
        <div class="container">
            <div class="ps-section__header mb-50 clearfix">
                <h3 class="ps-section__title" data-mask="Hot"><a href="san-pham">- SẢN PHẨM NỔI BẬT</a></h3>
            </div>
            <div class="carousel">
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label hot"><span>Hot</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="product p-40">
        <div class="container">
            <div class="ps-section__header mb-50 clearfix">
                <h3 class="ps-section__title" data-mask="discount"><a href="san-pham">- SẢN PHẨM KHUYẾN MÃI</a></h3>
            </div>
            <div class="carousel">
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label discount"><span>-18%</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="product p-40">
        <div class="container">
            <div class="ps-section__header mb-50 clearfix">
                <h3 class="ps-section__title" data-mask="Accessories"><a href="san-pham">- PHU KIỆN</a></h3>
            </div>
            <div class="carousel">
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoe mb-30 p-15">
                        <div class="ps-shoe__thumbnail">
                            <div class="product-label-group">
                                <div class="product-label"><span>New</span></div>
                            </div>
                            <img class="lazy" src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" data-src="https://kingshoes.vn/data/upload/media/fy5943-giay-adidas-run-falcon-2.0-running-chinh-hang-gia-tot-den-king-shoes-1.jpg" alt="ADIDAS RUN FALCON 2.0">
                            <a class="ps-shoe__overlay" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html"></a>
                        </div>
                        <div class="ps-shoe__content">
                            <div class="ps-shoe__detail">
                                <a class="ps-shoe__name" href="./adidas-run-falcon-2-0-fy5943-chinh-hang-gia-tot-den-king-shoes.html">ADIDAS RUN FALCON 2.0</a>
                                <div class="br-wrapper br-theme-fontawesome-stars">
                                    <select class="ps-rating ps-shoe__rating d-none">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5" selected="">5</option>
                                    </select>
                                    <div class="br-widget br-readonly">
                                        <a href="#"
                                           data-rating-value="1"
                                           data-rating-text="1"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="2"
                                           data-rating-text="2"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="3"
                                           data-rating-text="3"
                                           class="br-selected"></a>
                                        <a href="#"
                                           data-rating-value="4"
                                           data-rating-text="4"
                                           class="br-selected">
                                        </a>
                                        <a href="#"
                                           data-rating-value="5"
                                           data-rating-text="5"
                                           class="br-selected br-current">
                                        </a>
                                        @*<div class="br-current-rating">5</div>*@
                                    </div>
                                </div>
                                <span class="ps-shoe__price">
                                    1,800,000 đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product p-40">
        <div class="container">
            <div class="ps-section__header mb-50 clearfix">
                <h3 class="ps-section__title" data-mask=" KING AND QUEEN"><a href="san-pham">- KING AND QUEEN</a></h3>
            </div>
            <div class="carousel">
                <div>
                    <div class="ps-shoes--carousel">
                        <div class="image-full image-full-king-queen">
                            <img src="https://kingshoes.vn/data/upload/media/shop-bán-giày-sneaker-chinh-hang-tai-hcm-king-shoes-authentic-real-9-1662451690.jpeg" alt="Shop giày sneaker chính hãng gần đây đến King Shoes" style="opacity: 1;">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoes--carousel">
                        <div class="image-full image-full-king-queen">
                            <img src="https://kingshoes.vn/data/upload/media/shop-bán-giày-sneaker-chinh-hang-tai-hcm-king-shoes-authentic-real-9-1662451690.jpeg" alt="Shop giày sneaker chính hãng gần đây đến King Shoes" style="opacity: 1;">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoes--carousel">
                        <div class="image-full image-full-king-queen">
                            <img src="https://kingshoes.vn/data/upload/media/shop-bán-giày-sneaker-chinh-hang-tai-hcm-king-shoes-authentic-real-9-1662451690.jpeg" alt="Shop giày sneaker chính hãng gần đây đến King Shoes" style="opacity: 1;">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoes--carousel">
                        <div class="image-full image-full-king-queen">
                            <img src="https://kingshoes.vn/data/upload/media/shop-bán-giày-sneaker-chinh-hang-tai-hcm-king-shoes-authentic-real-9-1662451690.jpeg" alt="Shop giày sneaker chính hãng gần đây đến King Shoes" style="opacity: 1;">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoes--carousel">
                        <div class="image-full image-full-king-queen">
                            <img src="https://kingshoes.vn/data/upload/media/shop-bán-giày-sneaker-chinh-hang-tai-hcm-king-shoes-authentic-real-9-1662451690.jpeg" alt="Shop giày sneaker chính hãng gần đây đến King Shoes" style="opacity: 1;">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ps-shoes--carousel">
                        <div class="image-full image-full-king-queen">
                            <img src="https://kingshoes.vn/data/upload/media/shop-bán-giày-sneaker-chinh-hang-tai-hcm-king-shoes-authentic-real-9-1662451690.jpeg" alt="Shop giày sneaker chính hãng gần đây đến King Shoes" style="opacity: 1;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product p-40">
        <div class="container p-0">
            <div class="d-flex justify-content-between align-items-center">

                <div class="ps-section__header mb-50 clearfix">
                    <h3 class="ps-section__title" data-mask="New"><a href="san-pham">- TIn tức mới</a></h3>
                </div>
                <a href="#">
                    <p class="see-more"> Xem thêm <i class="fa fa-arrow-right"></i></p>
                </a>
            </div>
            <div class="carousel-items">
                <div>
                    <div class="itemNews p-15">
                        <div class="ps-post">
                            <div class="ps-post__thumbnail">
                                <a class="ps-post__overlay" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0"></a>
                                <img src="https://kingshoes.vn/data/upload/media/bq6472-060-giay-air-jordan-1-mid-chinh-hang-gia-tot-den-king-shoes.jpeg" alt="Top giày Air Jordan 1 Mid BQ6472-060 đến King Shoes Store" style="opacity: 1;">
                            </div>
                            <div class="ps-post__content">
                                <a class="ps-post__title" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0">Top giày Air Jordan 1 Mid BQ6472-060 đến King Shoes Store</a>

                                <div class="description">Shop bán giày Nike Air Jordan 1 Mid BQ6472-060 giá tốt nhất đến King Shoes Athentic ✓15 Ngày Đổi Hàng ✓Bảo Hành Hàng Chính Hãng ✓Giao Hàng Miễn Phí ✓Thanh Toán Khi Nhận Hàng. Shop order và còn bán trực tiếp tại cửa hàng các mẫu giày sneaker mới, đẹp, giá tôt nhất. .... Cộng đồng đánh giá dịch vụ king shoes uy tín tại TP.HCM.</div>
                                <a class="ps-morelink" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0">Xem thêm<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="itemNews p-15">
                        <div class="ps-post">
                            <div class="ps-post__thumbnail">
                                <a class="ps-post__overlay" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0"></a>
                                <img src="https://kingshoes.vn/data/upload/media/bq6472-060-giay-air-jordan-1-mid-chinh-hang-gia-tot-den-king-shoes.jpeg" alt="Top giày Air Jordan 1 Mid BQ6472-060 đến King Shoes Store" style="opacity: 1;">
                            </div>
                            <div class="ps-post__content">
                                <a class="ps-post__title" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0">Top giày Air Jordan 1 Mid BQ6472-060 đến King Shoes Store</a>

                                <div class="description">Shop bán giày Nike Air Jordan 1 Mid BQ6472-060 giá tốt nhất đến King Shoes Athentic ✓15 Ngày Đổi Hàng ✓Bảo Hành Hàng Chính Hãng ✓Giao Hàng Miễn Phí ✓Thanh Toán Khi Nhận Hàng. Shop order và còn bán trực tiếp tại cửa hàng các mẫu giày sneaker mới, đẹp, giá tôt nhất. .... Cộng đồng đánh giá dịch vụ king shoes uy tín tại TP.HCM.</div>
                                <a class="ps-morelink" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0">Xem thêm<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="itemNews p-15">
                        <div class="ps-post">
                            <div class="ps-post__thumbnail">
                                <a class="ps-post__overlay" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0"></a>
                                <img src="https://kingshoes.vn/data/upload/media/bq6472-060-giay-air-jordan-1-mid-chinh-hang-gia-tot-den-king-shoes.jpeg" alt="Top giày Air Jordan 1 Mid BQ6472-060 đến King Shoes Store" style="opacity: 1;">
                            </div>
                            <div class="ps-post__content">
                                <a class="ps-post__title" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0">Top giày Air Jordan 1 Mid BQ6472-060 đến King Shoes Store</a>

                                <div class="description">Shop bán giày Nike Air Jordan 1 Mid BQ6472-060 giá tốt nhất đến King Shoes Athentic ✓15 Ngày Đổi Hàng ✓Bảo Hành Hàng Chính Hãng ✓Giao Hàng Miễn Phí ✓Thanh Toán Khi Nhận Hàng. Shop order và còn bán trực tiếp tại cửa hàng các mẫu giày sneaker mới, đẹp, giá tôt nhất. .... Cộng đồng đánh giá dịch vụ king shoes uy tín tại TP.HCM.</div>
                                <a class="ps-morelink" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0">Xem thêm<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="itemNews p-15">
                        <div class="ps-post">
                            <div class="ps-post__thumbnail">
                                <a class="ps-post__overlay" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0"></a>
                                <img src="https://kingshoes.vn/data/upload/media/bq6472-060-giay-air-jordan-1-mid-chinh-hang-gia-tot-den-king-shoes.jpeg" alt="Top giày Air Jordan 1 Mid BQ6472-060 đến King Shoes Store" style="opacity: 1;">
                            </div>
                            <div class="ps-post__content">
                                <a class="ps-post__title" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0">Top giày Air Jordan 1 Mid BQ6472-060 đến King Shoes Store</a>

                                <div class="description">Shop bán giày Nike Air Jordan 1 Mid BQ6472-060 giá tốt nhất đến King Shoes Athentic ✓15 Ngày Đổi Hàng ✓Bảo Hành Hàng Chính Hãng ✓Giao Hàng Miễn Phí ✓Thanh Toán Khi Nhận Hàng. Shop order và còn bán trực tiếp tại cửa hàng các mẫu giày sneaker mới, đẹp, giá tôt nhất. .... Cộng đồng đánh giá dịch vụ king shoes uy tín tại TP.HCM.</div>
                                <a class="ps-morelink" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0">Xem thêm<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="itemNews p-15">
                        <div class="ps-post">
                            <div class="ps-post__thumbnail">
                                <a class="ps-post__overlay" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0"></a>
                                <img src="https://kingshoes.vn/data/upload/media/bq6472-060-giay-air-jordan-1-mid-chinh-hang-gia-tot-den-king-shoes.jpeg" alt="Top giày Air Jordan 1 Mid BQ6472-060 đến King Shoes Store" style="opacity: 1;">
                            </div>
                            <div class="ps-post__content">
                                <a class="ps-post__title" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0">Top giày Air Jordan 1 Mid BQ6472-060 đến King Shoes Store</a>

                                <div class="description">Shop bán giày Nike Air Jordan 1 Mid BQ6472-060 giá tốt nhất đến King Shoes Athentic ✓15 Ngày Đổi Hàng ✓Bảo Hành Hàng Chính Hãng ✓Giao Hàng Miễn Phí ✓Thanh Toán Khi Nhận Hàng. Shop order và còn bán trực tiếp tại cửa hàng các mẫu giày sneaker mới, đẹp, giá tôt nhất. .... Cộng đồng đánh giá dịch vụ king shoes uy tín tại TP.HCM.</div>
                                <a class="ps-morelink" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0">Xem thêm<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="itemNews p-15">
                        <div class="ps-post">
                            <div class="ps-post__thumbnail">
                                <a class="ps-post__overlay" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0"></a>
                                <img src="https://kingshoes.vn/data/upload/media/bq6472-060-giay-air-jordan-1-mid-chinh-hang-gia-tot-den-king-shoes.jpeg" alt="Top giày Air Jordan 1 Mid BQ6472-060 đến King Shoes Store" style="opacity: 1;">
                            </div>
                            <div class="ps-post__content">
                                <a class="ps-post__title" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0">Top giày Air Jordan 1 Mid BQ6472-060 đến King Shoes Store</a>

                                <div class="description">Shop bán giày Nike Air Jordan 1 Mid BQ6472-060 giá tốt nhất đến King Shoes Athentic ✓15 Ngày Đổi Hàng ✓Bảo Hành Hàng Chính Hãng ✓Giao Hàng Miễn Phí ✓Thanh Toán Khi Nhận Hàng. Shop order và còn bán trực tiếp tại cửa hàng các mẫu giày sneaker mới, đẹp, giá tôt nhất. .... Cộng đồng đánh giá dịch vụ king shoes uy tín tại TP.HCM.</div>
                                <a class="ps-morelink" href="./top-giay-air-jordan-1-mid-bq6472-060-den-king-shoes-store.html" tabindex="0">Xem thêm<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>