@{
    Layout = null;
}
<div class="footer">
    <div class="footer-top">
        <div class="container-fuild">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h3 class="footer-top-text-left">
                        <i class="fa-regular fa-envelope"></i> ĐĂNG KÝ NHẬN CODE
                    </h3>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                    <form>
                        <div class="footer-top-group">
                            <input type="text"
                                   class="footer-top-controll"
                                   placeholder="Địa chỉ email của bạn" />
                            <button class="footer-top-btn">Đăng ký</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                    <p class="footer-top-sale">
                        ...Nhận Ngay <span> VOUCHER 100k </span> từ chúng tôi.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid ps-5 pe-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <a href="#" class="footer-bottom-link">
                        <img src="~/Asset/image/logo/logo.png" class="footer-bottom-image" />
                    </a>
                    <h2 class="footer-bottom-title">THÔNG TIN LIÊN HỆ</h2>
                    <div class="footer-bottom-info">
                        <p>KINGSHOES.VN Trang Thông Tin Chính Thức.</p>
                        <p>
                            ⛪ Địa chỉ: 192/2 Nguyễn Thái Bình, Phường 12, Quận Tân Bình,
                            Thành phố Hồ Chí Minh
                        </p>
                        <p>Email : cskh.kingshoes.vn@gmail.com</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <h3 class="footer-bottom-title-center">HỖ TRỢ KHÁCH HÀNG</h3>
                            <ul class="ps-list--line">
                                <li>
                                    <a href="#">Chăm sóc khách hàng</a>
                                </li>
                                <li>
                                    <a href="#">Thanh toán</a>
                                </li>
                                <li>
                                    <a href="#">Hướng dẫn mua hàng</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <h3 class="footer-bottom-title-center">CHÍNH SÁCH</h3>
                            <ul class="ps-list--line">
                                <li>
                                    <a href="#">Chế độ bảo hành</a>
                                </li>
                                <li>
                                    <a href="#">Chính sách đổi hàng</a>
                                </li>
                                <li>
                                    <a href="#">Bảo mật thông tin</a>
                                </li>
                                <li>
                                    <a href="#">Chính sách giao nhận</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="copyrightPage mt-5">
                                <p>
                                    Số ĐKKD: 41N8041309 cấp ngày 17/8/2018. Nơi cấp Ủy Ban
                                    Nhân Dân Quận Tân Bình. Hộ Kinh Doanh:
                                    <strong>KINGSHOES. Hotline: 0909.300.746</strong>
                                </p>

                                <p>
                                    <strong>
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        &nbsp;&nbsp;<span style="font-size: 20px">CHỨNG NHẬN</span>
                                    </strong>
                                </p>

                                <p>
                                    <a href="http://online.gov.vn/Home/WebDetails/86431"
                                       target="_blank">
                                        <img src="~/Asset/image/logo/logoSaleNoti.png" height="104" width="275" />
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <h3 class="footer-bottom-title-center">FANPAGE</h3>
                </div>
            </div>
        </div>
        <div class="ps-footer__copyright">
            <div class="container-fluid ps-5 pe-5">
                <div class="row">
                    <div class="col-lg-10 col-md-9 col-xs-12 d-xl-flex gap-5">
                        <p class="myweb">
                            © Bản quyền thuộc về <b>KINGSHOES.VN</b>
                            <a href="#" rel="dofollow" target="_blank">Thiet Ke Web Chuẩn SEO</a>
                            Bởi <a href="#">SEOWEBMAKER.COM</a>
                        </p>
                        <div class="link d-flex ml-xl-5 ml-lg-3 ml-0">
                            <a href="#" target="_blank">Giày chạy bộ</a>,
                            <a href="#" target="_blank">Giày tập Gym</a>,
                            <a href="#" target="_blank">Giày tập Yoga</a>,
                            <a href="#" target="_blank">Giày thể thao</a>,
                            <a href="#" target="_blank">Giày chính hãng</a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-xs-12">
                        <ul class="ps-social">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>